* {
  margin: 10;
  padding: 0;
  box-sizing: border-box;
  font-size: 24px;
}

body {
  width: 50%;
  margin: 0em auto;
  border: 1px solid black;
}

#heading {
  font-size: 2em;
  text-align: center;
}

.mark {
  color: grey;
  text-decoration: line-through;
}

.input-box {
  width: 50%;
  height: 1.5em;
}

.add-button {
  height: 1.5em;
  width: 15%;
  cursor: pointer;
}

#select-sort-method {
  height: 1.5em;
  width: 7.5em;
  cursor: pointer;
}

.remove-button {
  height: 1.2em;
  aspect-ratio: 1/1;

  background: transparent;
  color: rgb(253, 37, 88);
  border: none;
  /* visibility: hidden; */
  cursor: pointer;
}

.task {
  width: 93%;
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid grey;
}

.task>p {
  width: 90%;
}

.task:hover .remove-button {
  visibility: visible;
}

.input-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}